<section class="product_list">
    <div class="container">
        <!-- Start of loading -->
        <div class="row" *ngIf="loading  else loaded">
            <div class="mx-auto mt-5">
                <app-loading></app-loading>
            </div>
        </div>

        <!-- End of loading -->
        <ng-template #loaded>
            <h1 class="text-info mt-3">{{title}}</h1>
            <small class="text-muted text-xs-center d-none d-sm-block" style="float: right; margin-top: -42px;">Built with Angular</small>
            <hr />
            <!-- <a routerLink="/create" class="btn btn-outline-info btn-sm mb-3">
                <i class="fa fa-pencil"></i>
            </a> -->

            <a class="btn btn-outline-info btn-sm mb-3" data-toggle="modal" data-target="#createModal" title="Create New Record">
                <i class="fa fa-pencil"></i>
            </a>
            <app-create></app-create>

            <!-- Search Bar -->
            <div class="form-group">
                <input type="text" [(ngModel)]="search" autofocus id="search" name="search" class="form-control form-control-lg text-lowercase" placeholder="Search vehicles..." />

                <!-- {{search}} -->
                <br />
            </div>
            <!-- Row 1 test -->
            <div class="row" *ngFor="let product of products | search: search; let i = index;">
                <div class="col-md-4">
                    <a [routerLink]="['/details', product.id, product.name]">
                        <div class="card">
                            <img class="img-fluid" src="{{product.avatar}}" onerror="this.src='assets/images/has-no-image.png';" alt="{{product.avatar}}" />
                            <!-- <span class="badge badge-danger">{{i+1}}</span> -->
                        </div>
                    </a>
                </div>
                <div class="col-md-8 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <a [routerLink]="['/details', product.id, product.name]">
                                <h2 class="card-title text-info">{{product.name | titlecase}}</h2>
                            </a>
                            <hr>
                            <p><b>Model: </b> {{product.model}}</p>
                            <p><b>Make: </b> {{product.make}}</p>
                            <p><b>Year: </b> {{product.year}}</p>
                            <p><b>Mileage: </b> {{product.mileage | number}}</p>
                            <p><b>Value Price: </b><span class="text-danger">{{product.price | currency}}</span></p>
                            <p><b>Stock #:</b> {{product.quantity}}</p>
                            <p class="card-text"><b>Details:</b> <br>{{product.description | descShortner:60}}...</p>
                            <a [routerLink]="['/details', product.id, product.name]" class="btn btn-outline-info btn-sm mr-2" title="View">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a [routerLink]="['/update', product.id, product.name]" class="btn btn-outline-info btn-sm" title="Edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <!-- Disable the deleteProduct function by adding id s letter -->
                            <button type="button" class="btn btn-outline-danger btn-sm ml-2" title="Delete" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="center" (confirm)="deleteProduct(product.ids)" (cancel)="cancelClicked = true">
                                    <i class="fa fa-trash"></i>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</section>