.product_list {
    position: relative;

    input#search {
        border-radius: 50px;
    }

    img {
    
        object-fit: cover;
    }

    .btn-outline-info,
    .btn-outline-danger {
        border-radius: 50px;
    }
}