.product_list {
    position: relative;

    input#search {
        border-radius: 50px;
    }

    img {

        object-fit: cover;
    }

    .btn-outline-info,
    .btn-outline-danger {
        border-radius: 50px;
    }

    .accordion .card-header:after {
        font-family: 'FontAwesome';
        content: "\f068";
        float: right;
    }

    .accordion .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f067";
    }
}