<section class="create-product">
  <div class="container">
    <h1 class="text-danger">Add New Car</h1>
    <hr />
    <!-- Start of success message -->
    <div
      *ngIf="showSuccessdAlert"
      class="alert alert-success alert-dismissible"
    >
      <button type="button" class="close" data-dismiss="alert">
        &times;
      </button>
      <i class="fa fa-check fa-1x"></i>&nbsp; <strong>Success.</strong> A record
      has been created!
    </div>
    <!-- End of success message -->

    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="productForm" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="id">Name</label>
            <input
              type="text"
              formControlName="name"
              id="name"
              class="form-control form-control-lg"
              maxlength="2"
              placeholder="Enter product name"
              required
            />

            <!-- Start of validation -->
            <div *ngIf="name.touched">
              <span *ngIf="name.errors.required" class="text-danger"
                >Name is required!<br
              /></span>
            </div>
            <!-- End of validation -->
          </div>
          <!-- Image -->

          <div class="form-group">
            <label>Avatar</label>
            <input
              type="file"
              formControlName="avatar"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              maxlength="20"
              class="form-control form-control-lg"
              formControlName="description"
              rows="5"
              maxlength="250"
              placeholder="Enter description"
              required
            ></textarea>
            <!-- description -->
            <div *ngIf="description.touched">
              <span *ngIf="description.errors.required" class="text-danger"
                >Description is required!<br
              /></span>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="text"
              formControlName="price"
              class="form-control form-control-lg"
              placeholder="Enter price tag"
              id="price"
              required
            />
            <!-- Price -->
            <div *ngIf="price.touched">
              <span *ngIf="price.errors.required" class="text-danger"
                >Price is required!<br
              /></span>
            </div>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              type="text"
              formControlName="quantity"
              class="form-control form-control-lg"
              placeholder="Enter quantity number"
              id="quantity"
              required
            />
            <!-- Quantity -->
            <div *ngIf="quantity.touched">
              <span *ngIf="quantity.errors.required" class="text-danger"
                >Quantity is required!<br
              /></span>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-info mt-3"
            [disabled]="productForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
