<section class="product-details">
  <div class="container">
    <a routerLink="/" class="fa fa-chevron-left mt-3 mb-3" title="Back"> </a>
    <h1 class="text-info"><span class="text-danger">{{productDetails.name | titlecase}}</span> Details</h1>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <img class="img-fluid" src="{{productDetails.avatar}}" onerror="this.src='assets/images/has-no-image.png';" alt="{{productDetails.name}}" />
        <h1><span class="text-danger">{{productDetails.name}}</span></h1>
        <div class="table-responsive">
           <table class="table">
          <thead>
            <tr>
              <th>
                <h5>Name</h5>
              </th>
              <th>
                <h5>Make</h5>
              </th>
              <th>
                <h5>Model</h5>
              </th>
              <th>
                <h5>Year</h5>
              </th>
              <th>
                <h5>Mileage</h5>
              </th>
              <th>
                <h5>Stock #</h5>
              </th>
              <th>
                <h5>Price</h5>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{productDetails.name}}</td>
              <td>{{productDetails.make}}</td>
              <td>{{productDetails.model}}</td>
              <td>{{productDetails.year}}</td>
              <td>{{productDetails.mileage | number}}</td>
              <td>{{productDetails.quantity}}</td>
              <td class="text-danger">
                <h5>{{productDetails.price | currency}}</h5>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
       
        <div class="desc">
          <h3>Details</h3>
          <p class="text-muted">{{productDetails.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
