<section class="product-details">
  <div class="container">
    <a routerLink="/" class="fa fa-chevron-left mt-3 mb-3" title="Back"> </a>
    <h1 class="text-info"><span class="text-danger">{{productDetails.name | titlecase}}</span> Details</h1>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <img
          class="img-fluid"
          src="{{productDetails.avatar}}"
          onerror="this.src='assets/images/has-no-image.png';"
          alt="{{productDetails.name}}"
        />
        <h1><span class="text-danger">{{productDetails.name}}</span></h1>
        <p>{{productDetails.description}}</p>
        <hr />

        <table class="table">
          <thead>
            <tr>
              <th><h3>Price</h3></th>
              <th><h3>Quantity</h3></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-danger">
                <h5>{{productDetails.price | currency}}</h5>
              </td>
              <td class="text-danger"><h5>{{productDetails.quantity}}</h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
