.login {
    position: relative;
    margin: 60px auto;
    img {
        width: auto;
        height: auto;
        background: rgb(247, 247, 247);
        padding: 50px;
        object-fit: cover;
        margin-bottom: 40px;
    }
}

@media(max-width:768px) {
    .login {
        position: relative;
        padding: 25px;
        img {
            width: 180px;
            height: 180px;
            display: block;
            margin: auto;
            background: none;
            object-fit: cover;
        }
    }
}