.login {
    position: relative;
    margin: 60px auto;
    img {
        width: auto;
        min-height: 350px;
        background: rgb(247, 247, 247);
        padding: 50px;
        object-fit: cover;
        margin-bottom: 40px;
    }
}