<section class="product_update">
  <div class="container">
    <h1 class="text-danger mt-3">{{title}}</h1>
    <hr />

    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="updateProductForm">
          <div class="form-group">
            <label for="id">Name</label>

            <input
              type="text"
              formControlName="name"
              id="name"
              class="form-control form-control-lg"
              placeholder="Enter product name"
              required
            />

            <!-- Name-->
            <div *ngIf="name.touched && name.invalid">
              <span *ngIf="name.errors.required" class="text-danger"
                >Product Name is required!<br
              /></span>
              <span *ngIf="name.errors.minlength" class="text-danger"
                >Name must contain at least 2 or more characters!<br
              /></span>
            </div>
          </div>
          <!-- Image -->

          <div class="form-group">
            <label>Avatar</label>
            <input
              type="file"
              formControlName="avatar"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              maxlength="20"
              class="form-control form-control-lg"
              formControlName="description"
              rows="5"
              maxlength="250"
              placeholder="Enter description"
              required
            ></textarea>
            <!-- description -->
            <div *ngIf="description.touched && description.invalid">
              <span *ngIf="description.errors.required" class="text-danger"
                >Product description is required!<br
              /></span>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="text"
              formControlName="price"
              class="form-control form-control-lg"
              placeholder="Enter price tag"
              id="price"
              required
            />
            <!-- Price -->
            <div *ngIf="price.touched && price.invalid">
              <span *ngIf="price.errors.required" class="text-danger"
                >Product price is required!<br
              /></span>
            </div>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              type="text"
              formControlName="quantity"
              class="form-control form-control-lg"
              placeholder="Enter quantity number"
              id="quantity"
              required
            />
            <!-- Quantity -->
            <div *ngIf="quantity.touched && quantity.invalid">
              <span *ngIf="quantity.errors.required" class="text-danger"
                >Product quantity is required!<br
              /></span>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-info text-uppercase mt-3"
            [disabled]="updateProductForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
